<% @event.attendees.build if @event.attendees.empty? %>
<% @event.build_location if @event.location.nil? %>

<% if @event.errors.any? %>
      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
<% end %>

<div class="form-group">
  <%= f.label :category_id, "Category" %>

  <%= f.collection_radio_buttons(:category_id, Category.all, :id, :name, :include_blank => true ) %>
</div>

<div class="form-group">
   <%= f.collection_check_boxes(:group_ids, Group.all, :id, :name) %>
</div>

<div class="form-group<%= (f.object.errors[:name].any?)? " has-error" : "" %>">
    <%= f.label :uid, "*Event ID" %>
    <%= f.text_field :uid, :class => "form-control" %>
</div>

<div class="form-group<%= (f.object.errors[:name].any?)? " has-error" : "" %>">
    <%= f.label :name, "*Name" %>
    <%= f.text_field :name, :class => "form-control" %>
</div>

<div class="form-group">
    <%= f.label :description, "Description" %>
    <%= f.text_area :description, :class => "form-control" %>
</div>

<div class="form-group">
  <%= f.file_field :logo %>
  <% if f.object.logo.exists? %>
    <%= f.check_box :_destroy_logo %> Remove Logo
  <% end %>
</div>

<div class="form-group">
<%= f.fields_for :location do |ff| %>
  Location Name: <%= ff.text_field :name %>
<% end %>
</div>

<h3>Attendee List</h3>
<%= f.nested_fields_for :attendees do |ff| %>
  <div class="form-group">
    <%= ff.text_field :name %>

    <%= ff.remove_nested_fields_link "X" %>
  </div>
<% end %>

<%= f.add_nested_fields_link :attendees, "Add" %>


<hr>