<%= @event.name %>

<p>created by <%= @event.user.try(:name) %></p>

<%= simple_format(@event.description) %>

<p>Group:
  <% @event.groups.each do |g| %>
    <%= g.name %>
  <% end %>
</p>

<p>Category: <%= @event.category_name %></p>

<%= link_to image_tag( @event.logo.url(:thumb) ), @event.logo.url %>

<p><%= link_to 'Back to index', events_path, class: "btn btn-primary" %></p>

